.dark {
  mix-blend-mode: difference;
}
.header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  color: #fff;
  background-color: #176bcc;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 70px;
  z-index: 1201;
  fill: #fff;
}
.header svg {
  fill: #fff;
}
.wrapper {
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.leftWrapper {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  fill: #fff;
}

.icon {
  &:hover {
    cursor: pointer;
  }
}
